:root {
    font-size: 16px;
}

body {
    font-family: Raleway, sans-serif;
    color: #354657;
}

.line {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1rem;
}

.pl-pr-0 {
    padding-left: 0;
    padding-right: 0;
}

.card-style {
    padding: 0 10px;
}
.card:hover .card-btn {
    color: white;
    background: #946FD3;
}
.btn-modal {
    display: none;
}

.card-btn {
    padding: 10px 20px;
    text-decoration: none;
    border-width:2px;
    border-style: solid;
    border-color: #946FD3;
    border-radius: 50px;
    font-weight: bold;
    color: #946FD3;
}

.maps > iframe {
    width: 100vw;
    height: 100vh;
}
